 /* form { 
    display:block;
    background-color: rgb(112, 17, 49); 
    color:white;
    padding: 20px; 
    width: 540px;
    text-align: center;
 }
legend { 
    font-weight: bold;
 }
label { 
      display: inline-block;
      width: 200px;  
      clear: left;
     }
input.text { 
    display: block; 
    width: 300px; 
    float: left; 
}
input.submit { 
    margin:20px 0 0 200px; 
    width: auto; 
}
h1 {
text-align: center;
}  */